* {
    font-family: 'Montserrat', sans-serif;
}

#main {
    min-height: 80vh;
}

h1 {
    font-size: 2.3em;
}

.item_link{
      color:black;
    text-decoration: none;
    font-size: 1.3em;
    margin:1vw;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#picture {
    border-radius: 100%;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden_link{
      color:white;
}

.hidden_link:hover, .hidden_link:active{
      color:black;
}
